<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>878688821628-3liov264a77kqe5nlmc6p6be6gc0nisf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.878688821628-3liov264a77kqe5nlmc6p6be6gc0nisf</string>
	<key>API_KEY</key>
	<string>AIzaSyBw3OY2Z17QzClHQ3PS3zEVmuKbTFftV90</string>
	<key>GCM_SENDER_ID</key>
	<string>878688821628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterCodes.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutterloginapp-e793c</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterloginapp-e793c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878688821628:ios:08afa421ce13a1188a84f9</string>
</dict>
</plist>